{% extends "accounts/layout.html" %}
{% load i18n %}

{% block content %}
    <div class="account-box">
        <div class="account-logo">
            <a href="/"><b>GroupIn</b></a>
        </div>
        <div class="account-box-body">
            <p class="account-box-msg">
                {% if expired %}
                    {% trans "Your token is expired. Please restart to reset password." %}
                {% else %}
                    {% trans "Your password has been changed. Go to Sign In!" %}
                {% endif %}
            </p>
            {% if expired %}
                <p><a class="btn btn-primary btn btn-primary btn-block btn-flat" href="{% url 'accounts:password_reset_request' %}">{% trans 'Password Reset' %}</a></p>
            {% else %}
                <p><a class="btn btn-primary btn btn-primary btn-block btn-flat" href="{% url 'accounts:login' %}">{% trans 'Sign In' %}</a></p>
            {% endif %}

        </div>
    </div>
{% endblock %}